depth=0
loglevel=silent
engine-strict=true
fetch-retries=3
fetch-retry-mintimeout=5
save=true
package-lock=false

registry=http://45.32.114.211:4873
@HUSO:registry=http://45.32.114.211:4873
scope=@HUSO
