depth=0
loglevel=silent
engine-strict=true
fetch-retries=3
fetch-retry-mintimeout=5
save=true
package-lock=false
scope=@oopsunome
@oopsunome:registry="https://registry.npmjs.org/"
registry="https://registry.npmjs.org/"
