{
  "check-coverage": false,
  "per-file": true,
  "reporter": [
    "html"
  ],
  "report-dir": "./coverage",
  "cache": false,
  "include": [
    "src/**/*.js"
  ],
  "all": true,
  "skip-empty": false,
  "skip-full": false
}
